<table class="CSSTableGenerator" width="30%">
  <th>Year</th>
  <th>tax</th>
  <% @tax_array.each_with_index do |p,n|  %>
      <tr>
        <td><%= n %></td>
        <td><%= p.round(2) %></td>
      </tr>
  <% end %>

</table>