<%= simple_form_for(@finance) do |f| %>
    <% if @finance.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@finance.errors.count, "error") %> prohibited this finance from being
            saved:</h2>

          <ul>
            <% @finance.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :finance_quote %><br>
      <%= f.number_field :finance_quote %>
    </div>
    <div class="field">
      <%= f.label :tax %><br>
      <%= f.text_field :tax %>
    </div>
    <div class="field">
      <%= f.label :year %><br>
      <%= f.number_field :year %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<div id="finance-table" class="table-format"></div>

