<p id="notice"><%= notice %></p>

<p>
  <strong>Finance quote:</strong>
  <%= @finance.finance_quote %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @finance.tax %>
</p>

<p>
  <strong>Year:</strong>
  <%= @finance.year %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
