<%= simple_form_for(@inventory) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :model %>
    <%= f.input :color %>
    <%= f.input :price %>
    <%= f.input :vin %>
  </div>



  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
