%h Hello, what type of user are you?
<br>
= link_to 'Sales', sales_path
<br>
= link_to 'Sales Manager', managers_path
<br>
= link_to 'Inventory Management', inventories_path
<br>
= link_to 'Finances', finances_path
<br>
= link_to 'Dealership Owner', owners_path