<%= simple_form_for(@owner) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :profit %>
    <%= f.input :revenue %>
    <%= f.input :tax %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
