<p id="notice"><%= notice %></p>

<p>
  <strong>Profit:</strong>
  <%= @owner.profit %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @owner.revenue %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @owner.tax %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
