<%= simple_form_for(@manager) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :employee_name %>

  </div>

    <div class="field">

      <%= f.label :Customer %><br>
      <%= f.collection_select :sale_id, Sale.all, :id, :customer ,{:multiple => false}%><br>

      <%= f.label :Sold %><br>
      <%= f.collection_select :sale_id, Sale.all, :id, :sold ,{:multiple => true}%><br>

      <%= f.label :Quote %><br>
      <%= f.collection_select :sale_id, Sale.all, :id, :quote ,{:multiple => false}%><br>



    </div>


    <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
