<p id="notice"><%= notice %></p>

<p>
  <strong>Employee name:</strong>
  <%= @manager.employee_name %>
</p>


<p>
  <strong>Customer:</strong>
  <%= @manager.sale.customer %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @manager.sale.sold %>
</p>

<p>
  <strong>quote:</strong>
  <%= @manager.sale.quote %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
