<%= simple_form_for(@sale) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :customer %>
    <%= f.input :quote %>
    <%= f.label :Sold %>
    <%= f.select(:sold, ['Yes','No']) %>
  </div>

    <div class="field">

      <%= f.label :Model %><br>
      <%= f.collection_select :inventory_id, Inventory.all, :id, :model ,{:multiple => false}%><br>
      <%= f.label :Color %><br>
      <%= f.collection_select :inventory_id, Inventory.all, :id, :color ,{:multiple => false} %><br>
      <%= f.label :price %><br>
      <%= f.collection_select :inventory_id, Inventory.all, :id, :price ,{:multiple => false} %><br>
      <%= f.label :VIN %><br>
      <%= f.collection_select :inventory_id, Inventory.all, :id, :vin ,{:multiple => false}%><br>





    </div>




  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
