<p id="notice"><%= notice %></p>

<h1>Listing Sales</h1>


<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Quote</th>
      <th>Sold</th>
      <th>Model</th>
      <th>Color</th>
      <th>Price</th>
      <th>VIN</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.customer %></td>
        <td><%= sale.quote %></td>
        <td><%= sale.sold %></td>
        <td><%= sale.inventory.model %></td>
        <td><%= sale.inventory.color %></td>
        <td><%= sale.inventory.price %></td>
        <td><%= sale.inventory.vin %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>




        <%= form_tag sales_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search", :model => nil %>
            </p>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %><br>
<%= link_to 'Main Menu', root_path %>
