<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @sale.quote %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @sale.sold %>
</p>

<p>
  <strong>Model:</strong>
  <%= @sale.inventory.model %>
</p>
<p>
  <strong>Color:</strong>
  <%= @sale.inventory.color %>
</p>
<p>
  <strong>Price:</strong>
  <%= @sale.inventory.price %>
</p>
<p>
  <strong>VIN:</strong>
  <%= @sale.inventory.vin %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
